.top{
	display: flex;
	align-items: center;
	flex-direction: column;
}


.card{
	margin: 4px;
	width: 220px;
	border-radius: 6px;
	overflow: hidden;
	/* background:#fff; */
	box-shadow: 0px 1px 10px rgba(0,0,0,0.2);
	transition: all 100ms ease-in-out;
}

.card:hover{
	box-shadow: 5px 5px 20px rgba(0,0,0,0.4);
	transform: translateY(-3%);
}

.information_display{
	height: min-content;
	width: 95%;
}

.information_display h4{
	font-size: large;
	margin-top: 3px;
	font-weight: 700;
	text-decoration: none;
	color: #000;
}

.information_display p{
	font-weight: 600;
	margin: -6px 0 0 0;
	font-size: small;
}
.image_container img{
	margin-top: 5px;
	width: 210px;
	height: 210px;
	object-fit: cover;
	border-radius: 50%;
	cursor: pointer;
	border: 1px solid rgba(35, 33, 33, 0.238);
	box-shadow: 1px 1px 1px 1px   rgba(0, 0, 0, 0.208);
}

.admin_area{
	margin:0px;
	display: flex;
	justify-content: space-between;
	padding: 0px 10% 0 10%;
}

.btn_section{
	cursor: pointer;
	display: flex;
}

.no_border_button{
	padding: 0px;
	border: 0px;
	background-color: transparent;
	transform: translateY(-3px);
}
.link{
	text-decoration: none;
}
.delete{
	color: #9c1700;
}
.edit{
	color: #6200ff;
}
.inspect{
	color: #ec4c0d;
}


.dark h4, .dark p{
	color: rgb(255, 247, 254);
}

.dark{
	background-color: rgb(14, 14, 14);
	box-shadow: 1px 1px 6px rgba(139, 117, 141, 0.178);
}
.dark img{
	border: 1px solid rgba(102, 102, 102, 0.238);
	box-shadow: 2px 2px 2px rgba(158, 129, 160, 0.2);
}